body{
    background: url(https://source.unsplash.com/1600x900/?nature,water);
   /* background: url(https://images.unsplash.com/photo-1465697558515-acefe0316e17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NTJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60); */
   /* background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5),url(image.jpg)); */

   background-position: center;
   background-size: cover;
   /* background-attachment: fixed; */
}
.font{
    transform: translate(650px, 245px);

}
.font i:hover{
    background-color: yellow;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 30px yellow;
}

.container{
    background: coral;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 380px;
 max-width: 400px;
    margin-top: 150px;
    margin-left: 500px;
    border: 2px double dodgerblue;
}
.content{
    font-size: 25px;
    font-weight: 600;
    color: navy;
    padding: 25px 25px;
}
button{
    text-align: center;
    font-size: large;
    font-weight: 600;
    background-color: indigo;
    color: indianred;
    height: auto;
min-width: 350px;
    margin-top: 50px;
}
button:hover{
    background: yellow;
    border: none;
    box-shadow: 0 0 30px yellow;
    opacity: 1;
    font-weight: 900;

cursor: pointer;
}

